    
    <link rel="stylesheet" type="text/css" href="{$applicationPath}/css/streetvisions.css" />

    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

    <!-- Fontawesome icons -->
    <script src="{$applicationPath}/js/lib/fontawesome/fontawesome-kit-7bd5544b77.js"></script>
	
    <script src="{$applicationPath}/js/lib/jquery/jquery.min.js"></script>
	
    <script src="{$applicationPath}/js/streetvisions.js"></script>
    <script>
        $(function () {
            streetvisions.initialise ({$settingsJs}, '{$action}');
        });
    </script>

    <section class="schemes-list">
        <section class="header">
            <div class="flex">
                <div class="title-block">
                    <h1>Widen My Path</h1>
                    <h2>Schemes</h2>
                </div>
                <div class="description-block">
                    <p>To help keep us safe, the government has announced that councils should be creating new cycleways and wider pavements for physical distancing. We need your help to identify where these are most needed. Add your idea, and collaborate the community to develop this vision.</p>
                </div>
            </div>
            <hr />
            <div class="header-controls">
                <div class="new-scheme">
                    <a class="new-scheme-button button button-general" href="{$baseUrl}/add.html"><i class="fa fa-plus-circle"></i> New scheme</a>
                </div>
				{if $schemes|count > 3}
                <div class="segmented-control">
                    <div class="ios-segmented-control">
                        <span class="selection"></span>
                        <div class="option">
                            <input type="radio" id="popular" name="current-view" value="popular">
                            <label for="popular"><span>Popular</span></label>
                        </div>
                        <div class="option">
                            <input type="radio" id="all" name="current-view" value="all">
                            <label for="all"><span>All</span></label>
                        </div>
                        <div class="option">
                            <input type="radio" id="latest" name="current-view" value="latest">
                            <label for="latest"><span>Latest</span></label>
                        </div>
                    </div>
                </div>
				{/if}
                <div class="search-bar">
                    <!--<i class="fa fa-search"></i>-->
                    <input id="search" placeholder="Search for a place or postcode..."/>
                </div>

            </div>
        </section>

        <section class="schemes">
			{if ($schemes)}
            <ul>
				{foreach from=$schemes item=scheme}
                <li>
                    <div class="card">
                        <div class="card-image">
                            <div id="map{$scheme.id}" class="map">
                        </div>
                        <div class="post-code">
                            <h1>{$scheme.postcodeArea}</h1>
                        </div>
                        <div class="content">
                            <div class="likes">
                                <i class="fa fa-lightbulb"></i><p>{$scheme.votes}</p>
                            </div>
                            <h4>{$scheme.name|htmlspecialchars}</h4>
                            <h5>{$scheme.person|htmlspecialchars}</h5>
                            <p>{$scheme.description|htmlspecialchars}</p>
                        </div>
                        <div class="read-more">
                            <a href="{$baseUrl}/{$scheme.moniker|htmlspecialchars}/">View scheme <i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div>
                </li>
				{/foreach}
			</ul>
			{else}
				<p>There are currently no schemes. You can create one by clicking on the button above.</p>
			{/if}
        </section>
	
	</section>
