	
	
	<!-- Leaflet.js -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
	
	<!-- Fontawesome icons -->
	<script src="{$applicationPath}/js/lib/fontawesome/fontawesome-kit-7bd5544b77.js"></script>
	
	<!-- Tooltips -->
	<script type="text/javascript" src="{$applicationPath}/js/lib/tipped/dist/js/tipped.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{$applicationPath}/js/lib/tipped/dist/css/tipped.css"/>
	
	<link rel="stylesheet" type="text/css" href="{$applicationPath}/css/streetvisions.css" />
	<script src="{$applicationPath}/js/streetvisions.js"></script>
	<script>
		$(function () {
			streetvisions.initialise ({$settingsJs}, '{$action}');
		});
	</script>
	
	
	<section class="scheme-show">
		<section class="sidebar">
			<a href="{$baseUrl}/" title="Back to list of schemes"> <i class="back-arrow fa fa-chevron-circle-left"></i></a>
			<h1>{$scheme.name|htmlspecialchars}</h1>
			<h2>{$scheme.person|htmlspecialchars}</h2>
			<hr>
			<h3>{$scheme.description|htmlspecialchars}</h3>
			<h4>Scheme area map</h4>
			<hr class="section">
			<div id="map" class="map"></div>
			<h4>Photo</h4>
			{if ($scheme.photo)}
				<img src="{$scheme.photo}" />
			{else}
				<p>Sorry, there isn't a photo of this location yet.</p>
			{/if}
			<hr class="section">
			{if ($scheme.link)}
			<h4>Read more</h4>
			<hr class="section">
			<ul class="links">
				<li><a href="{$scheme.link}" target="_blank" title="[Link opens in a new window]">Read more</a></li>
			</ul>
			{/if}
		</section>

		<section class="content">
			<h1>Visions</h1>
			
			{if $visions|count > 2}
			<div class="segmented-control-container">
				<div class="ios-segmented-control">
					<span class="selection"></span>
					<div class="option">
						<input type="radio" id="popular" name="current-view" value="popular">
						<label for="popular"><span>Popular</span></label>
					</div>
					<div class="option">
						<input type="radio" id="all" name="current-view" value="all">
						<label for="all"><span>All</span></label>
					</div>
					<div class="option">
						<input type="radio" id="latest" name="current-view" value="latest">
						<label for="latest"><span>Latest</span></label>
					</div>
				</div>
			</div>
			{/if}

			<a class="add-vision button button-general" href="{$baseUrl}/{$scheme.moniker}/addvision.html"> <i class="fa fa-plus-circle"></i> Add your vision</a>

			<hr>

			<h3>View community visions, or create (and edit) your own, here.</h3>

			{if ($visions)}
			<ul>
				{foreach from=$visions item=vision}
				<li>
					<div class="library_card">
						<div class="card-image">
							<div id="map{$vision.visionId}" class="map"></div>
						</div>
						<div class="content">
							<div class="likes">
								<i class="fa fa-heart"></i><p>{$vision.likes}</p>
							</div>
							<h4>{$vision.name|htmlspecialchars}</h4>
							<h5>{$vision.person|htmlspecialchars}</h5>
							<p>{$vision.description|htmlspecialchars}</p>
						</div>
						<div class="read-more">
							<div class="comment-count">
								<i class="fa fa-comments"></i><p>{$vision.comments}</p>
							</div>
							<!--
							<div class="share">
								<i class="fa fa-share-square"></i><p>42</p>
							</div>
							-->
							<div class="details">
								<a href="{$baseUrl}/{$scheme.moniker}/vision{$vision.visionId}/">View details <i class="fa fa-chevron-right"></i></a>
							</div>
						</div>
					</div>
				</li>
				{/foreach}
			</ul>
			{else}
				<p>There are currently no visions. You can create one by clicking on the button above.</p>
			{/if}
		</section>
	</section>
	
