	
	
    <link rel="stylesheet" type="text/css" href="{$applicationPath}/css/streetvisions.css" />
	<script src="{$applicationPath}/js/streetvisions.js"></script>
	<script>
		$(function () {
			streetvisions.initialise ({$settingsJs}, '{$action}');
		});
	</script>


	
    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
	
    <!-- Fontawesome icons -->
    <script src="/js/lib/fontawesome/fontawesome-kit-7bd5544b77.js"></script>
	
	
    <section class="scheme-add">
        <section class="header">
            <div class="flex">
                <div class="title-block">
                    <h1>New scheme</h1>
                    <h2>Widen My Path</h2>
                </div>
                <div class="description-block">
                    <p>On this page you can add a new scheme. This will be publically visible, and contributors will be able to add visions to the scheme.</p>
                </div>
                <div class="new-scheme">
                    <a class="new-scheme-button button button-general" href="#"><i class="fa fa-upload"></i> Publish</a>
                </div>
            </div>
        </section>

        <section class="form">
            <form>
                <h1>To add a new scheme, please fill out the form.</h1>
				
				{$form}
				
            </form>
        </section>

