	
	<!-- Fontawesome icons -->
	<script src="{$applicationPath}/js/lib/fontawesome/fontawesome-kit-7bd5544b77.js"></script>

	<!-- Leaflet-->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
	
	<!-- Tooltips -->
	<script type="text/javascript" src="{$applicationPath}/js/lib/tipped/dist/js/tipped.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{$applicationPath}/js/lib/tipped/dist/css/tipped.css"/>
	
	<link rel="stylesheet" type="text/css" href="{$applicationPath}/css/streetvisions.css" />
	<script src="{$applicationPath}/js/streetvisions.js"></script>
	<script>
		$(function () {
			streetvisions.initialise ({$settingsJs}, '{$action}');
		});
	</script>
	
	
	<section class="vision">
		<section class="map">
			<div class="map-header">
				<i class="expand-handle fa fa-chevron-down"></i>
				
				<div class="header-content">
					<a href="{$baseUrl}/{$scheme.moniker|htmlspecialchars}/" title="Back to list of visions for this scheme"> <i class="back-arrow fa fa-chevron-circle-left"></i></a><h1>{$vision.name|htmlspecialchars}</h1>
					<div class="likes">
						<i class="fa fa-heart"></i><p>{$vision.likes}</p>
					</div>
					<hr />
					<a class="button button-general edit" href="{$baseUrl}/{$scheme.moniker|htmlspecialchars}/vision{$vision.visionId}/edit.html"><i class="fa fa-edit"></i> Edit my vision</a>
					<h3>{$vision.person|htmlspecialchars}</h3>
					<h4>{$vision.description|htmlspecialchars}</h4>
					<i class="pull-handle fa fa-chevron-up"></i>
				</div>
			</div>
			<div id="leaflet">
			</div>
			<div class="questions">
				<h2><i class="fa fa-question-circle"></i> Q&A</h2>
				{foreach $vision.questionnaire item=question}
				<h4>{$question.question|htmlspecialchars}</h4>
				<p class="description">{$question.answer|htmlspecialchars}</p>
				{/foreach}
			</div>
		</section>

		<section class="discussion">
			<a class="button button-general share"><i class="fa fa-share-square"></i> Share</a>
			<h1>Discussion</h1>
			<div class="comment-count">
				<i class="fa fa-comments"></i>
				<p>54</p>
			</div>
			<hr>
			<div class="discussion-content">
				<p>Join the community in discussing this vision. You can add a comment to an existing discussion, or start your own.</p>
				<div class="discussion-header">
					<i class="fa fa-chevron-down"></i>
					<h3>Needs more cycle parking!</h3>
					<div class="answer">
						<p>Problem description. Eum earum ad at suscipit omnis est. Quas voluptas quasi ab deserunt</p>
						<p class="author">Susan Vitas</p>
						<p class="timestamp">an hour ago</p>
						<input />
					</div>
				</div>
				<div class="discussion-header">
					<i class="fa fa-chevron-down"></i>
					<h3>What about deliveries at 80 Station Rd?</h3>
					<div class="answer">
						<p>Problem description. Eum earum ad at suscipit omnis est. Quas voluptas quasi ab deserunt</p>
						<p class="author">Susan Vitas</p>
						<p class="timestamp">an hour ago</p>
						<input />
					</div>
				</div>
				<div class="discussion-header">
					<i class="fa fa-chevron-down"></i>
					<h3>I am disabled - I can’t get in!</h3>
					<div class="answer">
						<p>Problem description. Eum earum ad at suscipit omnis est. Quas voluptas quasi ab deserunt</p>
						<p class="author">Susan Vitas</p>
						<p class="timestamp">an hour ago</p>
						<input />
					</div>
				</div>
				<div class="new-topic">
					<a href="#" class="button button-general">
						<i class="fa fa-plus-circle"></i>
						<p>New topic</p>
					</a>
				</div>
			</div>
		
		</section>

		
	</section>
	
	<div class="modalBackground">
		<div class="modalContent">
			<div class="modal box-shadow">
				<div class="innerContent">
					<h1><i class="fa fa-exclamation"></i></h1>
					<hr>
					<p></p>
				</div>
				<a class="button button-general ok-button" href="#">Ok</a>
			</div>
		</div>
	</div>
