	
	<link rel="stylesheet" type="text/css" href="{$applicationPath}/css/streetvisions.css" />
	<script src="{$applicationPath}/js/streetvisions.js"></script>
	<script>
		$(function () {
			streetvisions.initialise();
		});
	</script>
	
	
	<section class="vision">
		<section class="map">
			<i class="back-arrow fa fa-chevron-left"></i>
			<h1>Scheme title here</h1>
			<div class="likes">
				<i class="fa fa-heart"></i><p>88</p>
			</div>
			<hr />
			<h2>Vision title here</h2>
			<h3>Martin Lucas-Smith</h3>
			<h4>Proposal description. Eum earum ad at suscipit omnis est. Quas voluptas quasi ab deserunt</h4>
			<div class="map">
				<img class="map" src="/images/placeholders/big_map_placeholder.png" />
			</div>
			<h2>Q&A</h2>
			<h4>How does your design ensure that people with disabilities are not disadvantaged</h4>
			<p class="description">Proposal description. Eum earum ad at suscipit omnis est. Quas voluptas quasi ab deserunt</p>
		</section>

		<section class="discussion">
			<i class="share fa fa-share-square"></i>
			<h1>By Simon Nuttall</h1>
			<hr>
			<div class="discussion-content">
				<h5>Join the community in discussing this vision. You can add a comment to an existing discussion, or start your own.</h5>
				<h4>Discussion</h4>
				<div class="comment-count">
					<i class="fa fa-comments"></i>
					<p>54</p>
				</div>
				<div class="discussion-header discussion-open">
					<i class="fa fa-chevron-down"></i>
					<h5>Needs more cycle parking!</h5>
					<div class="answer">
						<p>Problem description. Eum earum ad at suscipit omnis est. Quas voluptas quasi ab deserunt</p>
						<p class="author">Susan Vitas</p>
						<p class="timestamp">an hour ago</p>
						<input />
					</div>
				</div>
				<div class="discussion-header">
					<i class="fa fa-chevron-down"></i>
					<h5>What about deliveries at 80 Station Rd?</h5>
					<div class="answer">
						<p>Problem description. Eum earum ad at suscipit omnis est. Quas voluptas quasi ab deserunt</p>
						<p class="author">Susan Vitas</p>
						<p class="timestamp">an hour ago</p>
						<input />
					</div>
				</div>
				<div class="discussion-header">
					<i class="fa fa-chevron-down"></i>
					<h5>I am disabled - I can’t get in!</h5>
					<div class="answer">
						<p>Problem description. Eum earum ad at suscipit omnis est. Quas voluptas quasi ab deserunt</p>
						<p class="author">Susan Vitas</p>
						<p class="timestamp">an hour ago</p>
						<input />
					</div>
				</div>
				<div class="new-topic">
					<i class="fa fa-plus-circle"></i>
					<p>New topic</p>
				</div>
			</div>
		
		</section>
		
		<div class="newDiscussion">
			<i class="closeModal fa fa-times-circle"></i>
			<h1><i class="fa fa-comments"> </i>New discussion</h1>
			<hr>
			<p>Please enter a topic to proceed.</p>
			<input />
			<a class="createNewDiscussion" href="#"><i class="fa fa-plus-circle"> </i>Create</a>
		</div>
	
	</section>
	
