	
	<!-- Leaflet-->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

	<!-- Fontawesome icons -->
	<script src="{$applicationPath}/js/lib/fontawesome/fontawesome-kit-7bd5544b77.js"></script>
	
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

	<!-- Tooltips -->
	<script type="text/javascript" src="{$applicationPath}/js/lib/tipped/dist/js/tipped.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{$applicationPath}/js/lib/tipped/dist/css/tipped.css"/>
	
	<script type="text/javascript" src="{$applicationPath}/js/lib/geocoder.js"></script>
	
	<link rel="stylesheet" type="text/css" href="{$applicationPath}/css/streetvisions.css" />
	<script src="{$applicationPath}/js/streetvisions.js"></script>
	<script>
		$(function () {
			streetvisions.initialise ({$settingsJs}, '{$action}');
		});
	</script>

	<section class="builder">
		<div id="puff"></div>
		<form id="visionForm" name="form" method="post">
			<input type="text" id="name" name="form[name]" value="">
			<input type="text" id="description" name="form[description]" value="">
			<input type="text" id="components" name="form[components]" value="">
			<input type="text" id="questionnaire" name="form[questionnaire]" value="">
		</form>
		<section class="map">
			<div class="map-header">
				<i class="expand-handle fa fa-chevron-down"></i>
				<a href="{$baseUrl}/{$scheme.moniker|htmlspecialchars}/"> <i class="back-arrow fa fa-chevron-circle-left"></i></a>
				<h1>{$scheme.name|htmlspecialchars}</h1>
				<button type="submit" class="button button-general publish" form="visionForm">Publish <i class="fa fa-upload"></i></button>
				<div class="header-content">
					<hr />
					<div id="accordion">
						<h3 class="title-header"> Name and describe your vision <i class="fa fa-exclamation-triangle"></i> </h3>
						<div class="title">
						</div>
						<h3 class="questionnaire-header"> Answer some questions about your vision <i class="fa fa-exclamation-triangle"></i></h3>
						<div class="questionnaire">
						</div>
					</div>
					<i class="pull-handle fa fa-chevron-up"></i>
				</div>
			</div>
			<div id="leaflet">
				<div class="geocoder">
					<input id="browse-search-box" type="text" name="location" autocomplete="off" placeholder="Move map to place or postcode" tabindex="1" spellcheck="false" autocorrect="off" class="ui-autocomplete-input" />
					<button class="geocoder-button"><i class="fa fa-search"></i></button>
				</div>
				<div class="leafletInstructions">
					<div class="content">
						<h1><i class="fa fa-hammer"></i> Widen My Path</h1>
						<p>To get started, find a place or search for a postcode.</p>
						<p>Then, drag items from the toolbox onto the map to build your vision.</p>
					</div>
				</div>
				<div class="deleteTarget">
					<div class="content">
						<i class="fa fa-trash-alt fa-2x"></i>
					</div>
				</div>
			</div>
		</section>

		<section class="toolbox">
			<h2>Scheme elements</h2>
			<hr />
			<p>Build your vision by dragging the icons below onto the map. Hover or click the information icon to learn about an element.</p>
			<div class="padded-content">
				<div class="toolbox">
				</div>
			</div>
		</section>
		
	</section>

	<div class="modalBackground">
		<div class="modalContent">
			<div class="modal box-shadow">
				<div class="innerContent">
					<h1><i class="fa fa-exclamation"></i></h1>
					<hr>
					<p></p>
				</div>
				<a class="button button-general ok-button" href="#">Ok</a>
			</div>
		</div>
	</div>
	
